<div class="card">
  <div class="card-header">
    <span class="badge bg-success">Success</span>
    <span class="badge bg-danger">Danger</span>
    <h4>Title :{{ad!.Title}} </h4>

  </div>
<!--  <img src="..." class="card-img-top" alt="...">-->
  <div class="card-body" [style.background]="getBackGroundColor()" >
    <div class="container">
      <div class="row">

        <div class="col-lg">
          <h5 *ngIf="ad.DiscountValue != 0">Discount percent: {{ad.DiscountPercent | number : "1.00-2" }}%</h5>
          <h5 *ngIf="ad.DiscountValue != 0">Discount value: {{ad.DiscountValue.toLocaleString("ro-RO")}} &euro;  </h5>
          <h5 class="card-title"> {{(ad.Prices[ad.Prices.length - 1].Price).toLocaleString("ro-RO")}} &euro; </h5>
          <h5 class="card-title">{{ad.Brand}} {{ad.CarModel}} {{ad.Year}} {{ad.Km.toLocaleString("ro-RO")}} Km</h5>
          <p class="card-text">First seen : {{ad.Age}} days ago</p>
          <div *ngFor="let price of ad.Prices ; index as i">
            <p class="card-text">&euro; {{price.Price.toLocaleString("ro-RO")}} {{price.CreatedAt}}</p>
          </div>
        </div>
        <div class="col-lg">
          <img src={{ad.Thumbnail}} style="max-height: 480px; max-width: 640px" alt="no image...">
        </div>
        <div class="col-lg">
          <canvasjs-chart [options]="chartOptions" *ngIf="showChart"></canvasjs-chart>
        </div>
      </div>
      <div class="row">
        <div class="col">

          <a (click)="goToLink(ad.Ad_url)" class="btn btn-primary">Go to ad {{ad!.Market!.Name}}</a>

        </div>
      </div>
    </div>
  </div>
</div>
