/* Use Bootstrap's dropdown and form styles, only override if necessary */

.dropdown-menu {
  width: 100%;
}

.dropdown .dropdown-toggle {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  text-align: left;
}

.dropdown .dropdown-item-checkboxes {
  max-height: 300px;
  overflow-y: auto;
  margin: 0.25rem 1rem;
}

.dropdown .dropdown-count {
  border-top: 1px solid #ced4da;
  font-size: 12px;
  padding: 0.5rem 1rem 0;
  margin-top: 0.25rem;
}

.dropdown .dropdown-item:active {
  background-color: inherit !important;
  color: #212529 !important;
}

.dropdown .custom-control-label {
  width: 100%;
}
