<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Auto-mall</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <!--      <form [formGroup] = "filterForm">-->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="resultsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Results
          </a>
          <ul class="dropdown-menu" aria-labelledby="resultsDropdown">
              <a class="dropdown-item" [routerLink]="['/adsfilter']" routerLinkActive="active" ariaCurrentWhenActive="page">Show ads</a>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="scrapingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Scraping
          </a>
          <ul class="dropdown-menu" aria-labelledby="scrapingDropdown">
            <li>
              Start: <app-scrape-start></app-scrape-start>
            </li>
            <li>
              <a class="dropdown-item" [routerLink]="['scraping-setup']" routerLinkActive="active" ariaCurrentWhenActive="page">Scraping Setup</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="logDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Scraping logs
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ng-container>
  <!--  <router-outlet></router-outlet>-->
</ng-container>
