<ng-container>
  <!-- Filter Form -->
  <form [formGroup]="filterForm" class="mb-3">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-6">
            <h5>Age</h5>
            <input
              type="number"
              class="form-control"
              formControlName="age"
              min="0"
            />
          </div>
          <div class="col-md-6">
            <h5>Max price</h5>
            <input
              type="number"
              class="form-control"
              formControlName="price"
              min="0"
            />
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <h5>Brand</h5>
        <div *ngFor="let brand of filterCriteria.brands">
          <input
            type="checkbox"
            [value]="brand"
            (change)="onFilterChange('brand', brand, $event)"
            id="brand-{{brand}}"
          />
          <label [for]="'brand-' + brand">{{ brand }}</label>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Model</h5>
        <div *ngFor="let model of filterCriteria.models">
          <input
            type="checkbox"
            [value]="model"
            (change)="onFilterChange('model', model, $event)"
            id="model-{{model}}"
          />
          <label [for]="'model-' + model">{{ model }}</label>
        </div>
      </div>
      <div class="col-md-3">
        <h5>Fuel</h5>
        <div *ngFor="let fuel of filterCriteria.fuels">
          <input
            type="checkbox"
            [value]="fuel"
            (change)="onFilterChange('fuel', fuel, $event)"
            id="fuel-{{fuel}}"
          />
          <label [for]="'fuel-' + fuel">{{ fuel }}</label>
        </div>
      </div>
    </div>
  </form>

  <div *ngFor="let ad of filteredAds; index as i">
    <app-ad [ad]="ad"></app-ad>
    <hr class="hr" />
  </div>
</ng-container>
