<ng-container>
  <!-- Filter Form -->
  <form [formGroup]="filterForm" class="mb-3">
    <div class="row">
      <div class="col-md-3">
        {{items | json}}
        <h5>Price</h5>
        <app-dropdown-multi-select
          [items]="items"
          [showSearch]="showSearch"
          [showAll]="showAll"
          [showStatus]="showStatus"
          [showError]="showError"
          placeholder="Select Foods"
          (itemChange)="onItemChange($event)">
        >
        ></app-dropdown-multi-select>
      </div>
      <div class="col-md-3">
        <h5>Age</h5>
        <input
          type="number"
          class="form-control"
          formControlName="age"
          min="0"
        />
      </div>
      <div class="col-md-3">
        <h5>Brand</h5>
        <select
          class="form-select"
          formControlName="brands"
          (change)="onBrandChange($event)"
        >
          <option value="" disabled selected>Select a brand</option>
          <option *ngFor="let brand of filterCriteria.brands" [value]="brand">
            {{ brand }}
          </option>
        </select>
      </div>
      <div class="col-md-3">
        <h5>Model</h5>
        <select
          class="form-select"
          formControlName="models"
          multiple
        >
          <option *ngFor="let model of filterCriteria.models" [value]="model">
            {{ model }}
          </option>
        </select>
      </div>
    </div>
  </form>

  <div *ngFor="let ad of filteredAds; index as i">
    <app-ad [ad]="ad"></app-ad>
    <hr class="hr" />
  </div>
</ng-container>
